body {
    font-family: Arial, PTSans;;
    font-size: 14px;
}
.icon-plus {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 25px;
    cursor: pointer;
    z-index: 1000;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABrSURBVCjPvZDdCYAwDIS/uEXdqHO0azmHC3SV/myhL5YmUvFFvEAgl4NcThIKng0I7IMSIyg4oLIOatF7nOpTwQRfCDyF46qOPhe8pGJN3VDfTshCpD2uM8EG1V3IzzmYpwCsaSuINDJBUyfP8huT9qqaMAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNy0wNC0xMFQxODo0NDoxMiswMDowMFRlV3oAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTctMDQtMTBUMTg6NDQ6MTIrMDA6MDAlOO/GAAAAAElFTkSuQmCC');
    right: 5px;
}
.icon-plus:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.icon-cross:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.icon-cross {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 25px;
    cursor: pointer;
    z-index: 1000;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAC2SURBVBjTTc6xTsJQFIDh77bdukrUgcFdJ30VGOjzSdKOLLxARxMScDcMBE1cMWG44mB7uWe6J99Nzh96gkdH365z4967SyFY2dqbJZrZ21oJoX/2BqKFDnNLJXipHJzUKC0h0Y9D6PO/kfRa6Cp0gldlAqJGRwFajZiCokbLiFzkM2z/eL1qSJuPmAfFnEM/8aFOhWMaJw+VaUYdDFybFjbWOCdqNc5Y24SewpNPX1ntrTs7v39YWjwPfUsVUgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNy0wNC0xMFQxODo0MDo1MCswMDowME5b6NMAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTctMDQtMTBUMTg6NDA6NTArMDA6MDA/BlBvAAAAAElFTkSuQmCC');
    right: 5px;
}

.friend {
    display: block;
    border-radius: 5px;
    margin: 0 5px 0 20px;
    width: 250px;
    height: 70px;
    padding: 0;
    border-top: 1px solid rgb(240, 240, 240);;
    position: relative;
    cursor: pointer;

}
.photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 10px 10px 0;
    position: relative;
}
.name {
    position: absolute;
    font-weight: 600;
    color:  #6B6C6C;
    left: 22%;
    top: 15px;
}
#secondFriendList {
    height: 285px;
    width: 305px;
    padding: 0;
}
.ulList {
    margin: 0;
    padding: 0;
    z-index: 10000;
}


.modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.7);
}

#container {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color:  #fff;
    width: 620px;
    height: 490px;
}
#choiceFriends {
    background-color:  #ff8663;
    border-radius: 10px 10px 0 0;
    width: 620px;
    height: 45px;
    padding: 0;
    margin: 0;
}
#tagP {
    color: #fff;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 14px;
    position: absolute;
}
.close {
    color: #fff;
    float: right;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 590px;
    margin-top: 12px;
    position: absolute;
}

.tagDiv {
    margin: 0;
    height: 20px;
    width: 310px;
    font-weight: bold;
    background: #fff;
 }
.tagPList {
    margin: 10px 15px 1px 20px;
    color:  #4f4f4f;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}
.headerInput {
    display: inline-block;
    padding: 0;
    margin: 0;
    z-index: 10000;
    position: absolute;
    height: 40px;
    width: 310px;
    background-color:  #f0f0f0;
 }
.input {
    width: 285px;
    height: 25px;
    margin: 9px;
    border-radius: 50px;
    border: 1px solid #fff;
    padding-left: 10px;
    outline: none;
    margin-left: 12px;
}
.filterFriend {
    display: inline-block;
    margin-top: 75px;
    height: 330px;
    width: 305px;
    background: rgba(255, 255, 255);
    overflow: auto;
    overflow-x: hidden;
}
#container button {
    border-radius: 12px;
    background-color: #ff8663;
    width: 87px;
    height: 30px;
    margin: 12px 520px;
    color: #F5F8F8;
    outline: none;
}
.footer {
    background-color:  #f0f0f0;
    width: 620px;
    height: 55px;
    border-radius: 0 0 10px 10px;
}
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 80px;
    background-color:#c4c4c4;
}
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px;
}
::-webkit-scrollbar{
    width: 4px;
}